.header {
    width: 100vw; 
    height: 70px;
    background-color: rgb(111 44 245);
    display: grid;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    grid-template-columns: 240px 1fr 180px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(134, 82, 238);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px, 
}

.header-left-section, .header-middle-section, .header-right-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Left ---------- */
.home-button {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

/* ---------- Middle ---------- */

.header-middle-section {
    height: 100%;
}

/* ------ Search Bar ------ */

.search-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #adadad;
    background-color: #212529;
    text-align: center;
    font-size: 17px;
    color: white;
}

/* Magnifying glass icon */
.bi-search {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 18px;            
    top: 50%;
    transform: translateY(-50%); 
    width: 16px;
    height: 16px;
    color: #ffffff;         
    pointer-events: none;  
}

/* ---------- Right ---------- */

.header-right-section {
    width: 100%;
    margin-left: auto;
}